<% provide(:title, "Help") %>
<div>
	<h1>Welcome to the Members Only Forum</h1>
	<h2>This is the help page for the Members Only Forum.</h2>
	<h2>Members have full access to the site, while non-members can see post but not the author of the post.</h2>
</div>


